
* { border: 1px solid #000;
    box-sizing: border-box;
}
/* General */
html, body {
    background-color: #f7f7f7;
}

body {
    font: 14pt/1.48em "Source Sans Pro", sans-serif ;/*tamaño de base / interlineado(20.72/14) fuentes;*/
    color:#464646;
}

ul{
    margin: 0;
}

a {
    color:#464646;
    text-decoration: none;
}

table{
    width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}

p {
    text-align: justify;
}

h1, .h1 {
    font-size: 2em;/*28pt media el h1 entre los 14pt de fuente base*/
    line-height: 1.08em; /* 30.24pt / 28pt */
    text-transform: uppercase;
    font-weight: normal;
}

/* Textos */
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.small { font-size: 0.8em; }
.big { font-size: 1.5em; }
.uppercase { text-transform: uppercase; }
.list { list-style: none; padding: 0; }
.txt-center { text-align: center; }

/* Colores */
.txt-red {
    color:#FF0000;
}

.bg-white {
    background-color:#FFFFFF;
}

/* TO-DO */
.list-blue { padding-left: 20px; }

/*Cabecera*/
/* Breadcrum en mayuscula */
/*Ultimo elemento en rojo*/
.breadcrum {
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

/* Layout */

.wrapper {
    width: 990px;
    margin: 0 auto;
    padding: 40px 0;
}

.fleft { float: left; }

.col-10 { width: 10%}
.col-25 { width: 25%}
.col-50 { width: 50%}
.col-75 { width: 75%}